build-darwin32/
build-linux32/
build-linux64/
build-win32/
formySGJP.cc
formySGJP.dfa
formySGJP.encoded
formySGJP.tab
formySGJP_states.cc
formySGJP_transitions.cc
morfeusz-SGJP-*-*.tar.bz2
segmentySGJP.cc
segmentySGJP.dfa
segmentySGJP.dict
segmentySGJP_states.cc
segmentySGJP_transitions.cc
typy_zbiorczeSGJP.tab
version.h